

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background: ghostwhite;
  padding: 0 16px;
}

header {
  background-color: #557791;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #efedc0;
  font-family: "Forum", serif;
  font-weight: 600;
  font-size: 2.5em;

}

.title-container {
  text-align: center;
  margin: 40px auto;
}

h1 {
  font-family: "Forum", serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #557791;
}

h2 {
  font-family: "Forum", serif;
  font-size: 2.1rem;
  font-weight: 200;
  color: #2d413f;
  margin: 20px auto;
}

.logo-container {
  display: inline-block;
  vertical-align: middle;

}

.logo-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.logo-container img {
  width: 35px;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 30px;
  margin: 30px;
  float: left;
  width: calc(33.333% - 60px);
  min-width: 300px;
  max-width: 480px;
}

.note h1 {
  font-size: 1.7em;
  align-items: left;
  margin: 20px;
  font-family: "Forum", serif;
  font-weight: bold;
  hyphens: auto;
}

.note p {
  font-size: 1.5em;
  margin: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: "Forum", serif;
  hyphens: auto;
}

.note button {
  position: relative;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #557791;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none;
}

.note button:hover {
  background: #3c5569;
  color: #efedc0;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.5em;
  font-family: "Forum", serif;
  resize: none;
}

form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #557791;
  color: #efedc0;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.note form.edit-form {
  background: #fff;
  padding: 10px;
}

.note form.edit-form input,
.note form.edit-form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.5em;
  font-family: "Forum", serif;
  resize: none;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.disabled-button {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.disabled-button svg {
  fill: grey;
}



@media (max-width: 480px) {
  body {
    padding: 0 12px;
  }

  header {
    padding: 12px 16px;
    margin: auto -12px;
  }

  header h1 {
    font-size: 4rem;
    text-align: center;
  }

  .title-container {
    margin: 20px auto;
    width: 100%;
    padding: 0 10px;
  }

  h1,
  h2 {
    font-size: 1.8rem;
    text-align: center;
    margin: 10px 0;
  }

  form.create-note {
    width: 100% !important;
    /* fill almost entire width */
    margin: 20px 0;
    padding: 15px;
  }

  .note {
    float: none !important;
    /* cancel float */
    width: 100% !important;
    /* full width */
    max-width: 100%;
    margin: 15px 0;
    box-sizing: border-box;
  }

  .note h1,
  .note p {
    margin-left: 15px;
    margin-right: 15px;
  }

  .note button {
    width: 40px;
    height: 40px;
    margin: 15px 15px 10px 15px;
  }

  form.create-note button {
    right: 10px;
    bottom: -16px;
    width: 36px;
    height: 36px;
  }

  footer {
    position: relative;
    padding: 10px 0;
    height: auto;
  }
}